@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-bg: #050505;
  --color-brand-surface: #121212;
  --color-brand-accent: #E50914;
  --color-brand-muted: #A0A0A0;
  
  --font-serif: "Georgia", serif;
  --font-sans: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  @apply bg-brand-bg text-white font-sans;
}
